.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input,
.form select {
  padding: 10px;
  height: 54px;
  max-width: 498px;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
}

.form p {
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--error-color);
}

.form textarea {
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  padding: 10px;
}

.form textarea,
.form label,
.form select {
  font-family: inherit;
  max-width: 498px;
}

.form label {
  font-size: 0.9rem;
  color: var(--label-color);
}

.form select {
  color: var(--select-color);
}

input:required:valid,
select:required:valid {
  border: 2px solid var(--valid-color);
}
