.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  max-width: 560px;
  font-size: 2.5rem;
  font-weight: 600;
}

.button_reset {
  cursor: pointer;
  background-color: white;
  width: 225px;
  height: 48px;
  border: 1px solid var(--border-grey);
  border-radius: 30px;
}

@media (hover: hover) and (pointer: fine) {
  .button_reset:hover {
    background-color: var(--border-grey);
  }
}

@media (max-width: 1000px) {
  .title h1 {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  .title {
    text-align: center;
    flex-direction: column;
  }
  .title h1 {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }
  .button_reset {
    width: 180px;
  }
}
